Source: stellarium
Maintainer: Alexander Wolf <alex.v.wolf@gmail.com>
Section: science
Priority: optional
Build-Depends: cmake,
               debhelper (>= 11),
               debhelper-compat (= 11),
               doxygen,
               mesa-common-dev,
               qt6-base-dev (>= 6.2),
               qt6-base-private-dev (>= 6.2),
               qt6-tools-dev (>= 6.2),
               qt6-tools-dev-tools (>= 6.2),
               qt6-l10n-tools (>= 6.2),
               linguist-qt6 (>= 6.2),
               libqt6svg6-dev (>= 6.2),
               qt6-multimedia-dev (>= 6.2),
               libqt6serialport6-dev (>= 6.2),
               qt6-positioning-dev (>= 6.2),
               libqt6positioning6-plugins (>= 6.2),
               libqt6charts6-dev (>= 6.2) | qt6-charts-dev (>= 6.3),
               qml6-module-qtcharts (>= 6.4),
               libqt6opengl6-dev (>= 6.2),
               libqt6webchannel6-dev (>= 6.2) [amd64 arm64],
               libqt6webenginewidgets6 (>= 6.2) [amd64 arm64],
               libqt6webenginecore6-bin (>= 6.2) [amd64 arm64],
               libqt6webengine6-data (>= 6.2) [amd64 arm64],
               qt6-webengine-dev (>= 6.2) [amd64 arm64],
               qt6-webengine-dev-tools (>= 6.2) [amd64 arm64],
               libindi-dev (>= 1.8.2),
               libindi-plugins (>= 1.8.2),
               libnova-dev,
               zlib1g-dev
Standards-Version: 4.5.0
Vcs-Browser: https://github.com/Stellarium/stellarium
Vcs-Git: https://github.com/Stellarium/stellarium.git
Homepage: https://www.stellarium.org

Package: stellarium-qt6
Architecture: any
Conflicts: stellarium
Depends: stellarium-qt6-data (= ${source:Version}),
         libqt6webenginecore6-bin (>= 6.2) [amd64 arm64],
         libqt6webengine6-data (>= 6.2) [amd64 arm64],
         ${misc:Depends},
         ${shlibs:Depends}
Description: real-time photo-realistic sky generator
 Stellarium renders 3D photo-realistic skies in real-time. With Stellarium, you
 really see what you can see with your eyes, binoculars or a small telescope.
 .
 Some features:
  - default star catalogue with over 600 thousand stars,
  - information about the brightest stars (spectral type, distance, etc.),
  - downloadable star catalogue extensions, for up to 210 million stars,
  - all New General Catalogue (NGC) objects,
  - images of almost all Messier objects and the Milky Way,
  - real time positions of the planets and their satellites,
  - 46 different cultures with their constellations,
  - artistic illustrations of the 88 Western constellations,
  - very realistic atmosphere, sunrise and sunset,
  - 7 panoramic landscapes (more can be made or downloaded from the website),
  - scripting with ECMAScript,
  - plug-in support: Stellarium comes with 22 plug-ins by default, including:
  - artificial satellites plug-in (updated from an on-line TLE database),
  - ocular simulation plug-in (shows how objects look like in a given ocular),
  - Solar System editor plug-in (imports comet and asteroid data from the MPC),
  - telescope control plug-in (Meade LX200 and Celestron NexStar compatible).
 .
 Stellarium should not be used for very high accurate calculation or ephemerids
 like eclipse predictions. However, it is the ideal program to prepare an
 observation evening with naked eye, binocular, or small telescope.

Package: stellarium-qt6-data
Conflicts: stellarium-data
Architecture: all
Depends: fonts-dejavu-core, ${misc:Depends}
Recommends: stellarium-qt6 (= ${source:Version})
Description: Stellarium data files
 Stellarium renders 3D photo-realistic skies in real-time. With Stellarium, you
 really see what you can see with your eyes, binoculars or a small telescope.
 .
 This package contains data files required by Stellarium. They include
 textures, star catalogues and translations.
